.content-wrap
  %section.start-contents
    .start-contents__left
      %span.start-contents__left-image 
        = image_tag 'duo-toneaa.jpg', class: "image"
    .start-contents__right
      %span.title
        Cost With Time

      .subtitle
        Let's increase our work efficiency

      .start-btn
        = link_to "START", new_timer_path, method: :get
      
      - if user_signed_in?
        .user-nav
          %span
            = current_user.name
            %ul.user__info
              %li
                = link_to "History", "/users/#{current_user.id}"
                = link_to "Logout", destroy_user_session_path, method: :delete
      - else
        .grid-6
          = link_to "-Login", new_user_session_path, class: 'post'
          = link_to "-Registration", new_user_registration_path, class: 'post'