.wrapper

  = javascript_include_tag "index.js"


  %section.titles
    %span.title
      Cost With Time

    .subtitle
      Let's increase our work efficiency

  
  .life-time
    You have
    .life-time__left{id: "left-time"} 
      = (80 * 365 * 24 * 3600) - (current_user.age * 365 * 24 * 3600)
    sec
  

  %section.btns
    .start-btn
      = link_to "START", new_timer_path, method: :get , id: "start-btn"
    
    - if user_signed_in?
      .user-nav
        %span
          -# = current_user.name
          %ul.user__info
            %li
              = link_to "History", "/timer/#{current_user.id}"
              = link_to "Logout", destroy_user_session_path, method: :delete
    - else
      .user-nav
        = link_to "-Login", new_user_session_path, class: 'post'
        = link_to "-Registration", new_user_registration_path, class: 'post'

    