.wrapper
  = javascript_include_tag "index.js"
  %section.titles
    %span.title
      Cost With Time

    .subtitle
      Let's increase our work efficiency
  
  .life-time
    .life-time__title
      = @whosLimit
      = render "lifeTime"
   
    .life-time__title--btn
      What is this for

    %button{id: "details"}
      = icon('fas', 'chevron-down')

  %section.btns
    .start-btn
      = link_to "START", new_timer_path, method: :get , id: "start-btn"
    
    - if user_signed_in?
      .user-nav
        %span
          %ul.user__info
            %li
              = link_to "History", "/timer/#{current_user.id}"
              = link_to "Logout", destroy_user_session_path, method: :delete
    - else
      .user-nav
        = link_to "-Login", new_user_session_path, class: 'post'
        = link_to "-Registration", new_user_registration_path, class: 'post'

.wrapper-second
  %script{src: "//code.jquery.com/jquery-1.11.3.min.js"}
  = javascript_include_tag "index.js"
  %section.second-page
    .second-page__title
      Welcome to Cost With Time
    .second-page__content
      %h2.second-page__content2
        This app is a timer to conver the money for the meeting, study etc...
      %h3.second-page__content3
        And the main theme of this app is "remember that time has limit and super important thing". 
  %section.how-to-use
    How to use
    .wrapp-how-to
      .wrapp-how-to1
        .how-to1
          Step1
          %br
            Enter the hourly wage and the number of participates
          %img.how-to__picture1{src: "/images/how-to1.gif"}

      .wrapp-how-to2
        .how-to2
          Step2
          %br
            Click the play button
          %img.how-to__picture2{src: "/images/how-to2.gif"}

  %section.link
    =link_to "LET'S START", new_timer_path, method: :get , class: "btn"

