%header.history
  Timer to convert the money
  
  =link_to image_tag(src="/images/logo.jpg", height: "50", width: "auto"), "/", class: "iconCWT" 

.wrapper-new
  .timer-wrap
    
    = javascript_include_tag "new.js"

    .price
      .price__unit
        ¥
      .price__act{id:"price__act"}
        0
    
    .time
      .time__name
        TIME
      .timer{id:"timer"}
        00:00:00

    .btn
      %button{id: "play"}
        = icon('fas', 'play')

      %button{id: "stop"}
        = icon('fas', 'stop')

      %button{id: "reset"}
        = icon('fas', 'undo-alt')

      %button{id: "save"}
        = icon('fas', 'save')

      -# - if user_signed_in?
      -#   %button{id: "save"}
      -#     = icon('fas', 'save')
      -# - else
      -#   %button{id: "save"}
      -#     = icon('fas', 'save')
      -#     = link_to "ccc", new_user_session_path, class: 'login-btm'
    
  .people-graph-wrap

    .reg-wrapp
      .reg-wrapp__title
        Please enter the wages and the number of participants
      .reg-info{id:"reg-info"}
        .reg-info__input
          %input.reg-info__input--wage{:id => "wage-1", :name => "wage", :type => "number",  :placeholder =>"00,000"}
          ¥/h

          %input.reg-info__input--people{id: "people-1", name: "people", type: "number", value: "", :placeholder =>"0"}
          people

          %button{id: "add"}
            = icon('fas', 'user-plus')

    %script{src: "https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"}

    .graph
      .graph__title
        The simulation for this meeting costs
      %canvas{id: "mycanvas"}
        = javascript_include_tag "chart.js"
  