%header.history
  .history__text
    Timer to convert the money
  
  =link_to image_tag(src="/images/logo.jpg", height: "50", width: "auto"), root_path, class: "iconCWT" 

.wrapper-new
  = javascript_include_tag "moneyTimer.js"
  = javascript_include_tag "modeSW.js"
  = render "cntup"
  = render "cntdwn"

  %section.mode-switch
    .mode-switch__title1{id: "title1"}
      STOPWATCH MODE
    .mode-switch__title2{id: "title2"}
      COUNTDOWN-TIMER MODE  

    .mode-switch__btns
      %button{id: "switch1"}
        = icon('fas', 'toggle-on')
      %button{id: "switch2"}
        = icon('fas', 'toggle-off')
    
  %section.people-graph-wrap
    .reg-wrapp
      .reg-wrapp__title
        Please enter the wages and the number of participants
      .reg-info{id:"reg-info"}
        .reg-info__input
          %input.reg-info__input--wage{:id => "wage-1", :name => "wage", :type => "number",  :placeholder =>"00,000"}
          ¥/h

          %input.reg-info__input--people{id: "people-1", name: "people", type: "number", value: "", :placeholder =>"0"}
          people

          %button{id: "add"}
            = icon('fas', 'user-plus')

    %script{src: "https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"}

    .graph
      .graph__title
        The simulation for this meeting costs
      %canvas{id: "mycanvas"}
        = javascript_include_tag "chart.js"
  