%header.history
  Your recording history
  
  =link_to image_tag(src="/images/logo.jpg", height: "50", width: "auto"), "/", class: "iconCWT" 
  -# %img.iconCWT{src: "/images/logo.jpg", height: "50", width: "auto"}
  -#   = link_to "", "/"

.all-wrapp
  .result-wrapp
    = javascript_include_tag "history.js"
    .totalCost
      .totalCost__title
        You've spend this amount 
      .totalCost__uni-number
      
        .totalCost__unit
          ¥
        .totalCost__number{id: "totalCost__number"}

          -array = []
          - @timers.each do |timer|
            -if current_user.id == timer.user_id   
              -array << timer.money
      
          =array.sum


  .table-wrapp
    %h2
      Detals
    %table{border: "0", rules: "rows", id: "table1"}
      %tr{id: "hisTbl"} 
        %th 
          Cost(¥)
        %th 
          Meeting time(sec)
        %th
          Average wages(¥/h)
        %th
          Participants
        %th
          Date

      -array = []

      - @timers.each do |timer|
        -if current_user.id == timer.user_id   
          %tr  
            %td
              = timer.money
            %td
              = timer.time
            %td
              = timer.wage
            %td
              = timer.people
            %td
              = timer.created_at

  %script{src: "https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"}
  .graph-history
    %canvas{id: "graph-cost"}
      = javascript_include_tag "history-graph.js"



     


   

      
